@model crudApp.Models.UserRegistration

@{
    ViewBag.Title = "Delete";
}

<h2>User Deletion</h2>

<h5>Are you sure you want to delete this User <b>"@Html.DisplayFor(Model => Model.sFirstName)"?</b></h5>
<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.sFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sGender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sGender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iAge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iAge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sAddress)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-danger" accept="" /> 
        @Html.ActionLink("Back to List", "Index", new { id = Model.iUserId }, new { @class = "btn btn-primary", @style = "color:white" })
    </div>
    }
</div>
