@model crudApp.Models.UserRegistration

@{
    ViewBag.Title = "Details";
}

<h2>User Details</h2>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.sFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sGender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sGender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iAge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iAge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sAddress)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Update", "Edit", new { id = Model.iUserId }, new { @class = "btn btn-success", @style = "color:white" }) 
    @Html.ActionLink("Back to List", "Index",new { id = Model.iUserId }, new { @class = "btn btn-primary", @style = "color:white" })
</p>
