@model IEnumerable<crudApp.Models.UserRegistration>

@{
    ViewBag.Title = "Index";
}

<h2>User Database</h2>

<p>
    @Html.ActionLink("Create new user", "Create",new { Model= Model }, new { @class = "btn btn-info", @style = "color:white" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.sFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sGender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.iAge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sAddress)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.sFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sGender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.iAge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sAddress)
        </td>
        <td>
            @Html.ActionLink("Read / View", "Details", new { id = item.iUserId}, new { @class = "btn btn-primary", @style = "color:white" }) 
            @Html.ActionLink("Update", "Edit", new { id = item.iUserId }, new { @class = "btn btn-success", @style = "color:white" }) 
            @Html.ActionLink("Delete", "Delete", new { id = item.iUserId }, new { @class = "btn btn-danger", @style = "color:white" })
        </td>
    </tr>
}

</table>
